# Climate Watch API data  
Prototype to extract data from the [Climate Watch API](https://www.climatewatchdata.org) to feed the "International Status" widget with latest data.  
The indicators that we seek are:  
- NDC document link  
- Date of most recent NDC  
- NDC target (percentage)  
- Base year  
- Base year emissions (actual)  
- Target Reference year  
- Target year emissions (projected)  
- Mitigation only, Adaptation only, or both

In [1]:
import pandas as pd
import requests

## Set up API call

In [2]:
api_url = "https://www.climatewatchdata.org/api/v1/"

data_endpoint = ""
indicator_var = ""

if (indicator_var == ""):
    api_call = api_url+data_endpoint
else:
    api_call = f'{api_url}{data_endpoint}?indicators= {indicator_var}'

print(api_call)

https://www.climatewatchdata.org/api/v1/

## Indicator 1: Document link + Submission date

In [3]:
data_endpoint = "ndcs/countries_documents"
indicator_var = ""

if (indicator_var == ""):
    api_call = api_url+data_endpoint
else:
    api_call = f'{api_url}{data_endpoint}?indicators={indicator_var}'

print(api_call)

https://www.climatewatchdata.org/api/v1/ndcs/countries_documents

In [4]:
c = requests.get(api_call)
json_data = c.json()
locations_keys = list(json_data['data'].keys())

In [5]:
test = pd.DataFrame(json_data['data'][locations_keys[0]])
test

,id,ordering,slug,long_name,description,is_ndc,submission_date,url
0,3022.0,1,indc,Intended Nationally Determined Contribution (I...,INDC Submission,True,2015-10-13,http://www4.unfccc.int/sites/submissions/INDC/...
1,3023.0,2,first_ndc,First Nationally Determined Contribution (NDC),First NDC Submission,True,2016-11-23,https://unfccc.int/sites/default/files/NDC/202...
2,3027.0,6,pledges,Pre-2020 Pledges,Pre-2020 Pledges,False,2013-06-14,http://unfccc.int/files/meetings/cop_15/copenh...
3,NaN,7,sectoral,Sectoral Laws or Policies,Sectoral Laws or Policies,False,None,NaN

In [6]:
ind_1 = pd.DataFrame()
for k in locations_keys:
    t = pd.DataFrame(json_data['data'][k])
    t['location'] = k
    ind_1 = ind_1.append(t)

ind_1 = ind_1[['location', 'ordering', 'slug', 'is_ndc','submission_date', 'url']]
ind_1 = ind_1[ind_1['is_ndc']].reset_index(drop=True)
ind_1

,location,ordering,slug,is_ndc,submission_date,url
0,AFG,1.0,indc,True,2015-10-13,http://www4.unfccc.int/sites/submissions/INDC/...
1,AFG,2.0,first_ndc,True,2016-11-23,https://unfccc.int/sites/default/files/NDC/202...
2,ALB,1.0,indc,True,2015-09-24,http://www4.unfccc.int/sites/submissions/INDC/...
3,ALB,2.0,first_ndc,True,2016-09-21,https://unfccc.int/sites/default/files/NDC/202...
4,ALB,3.0,revised_first_ndc,True,2021-10-12,https://unfccc.int/sites/default/files/NDC/202...
...,...,...,...,...,...,...
554,ZMB,2.0,first_ndc,True,2016-12-09,https://unfccc.int/sites/default/files/NDC/202...
555,ZMB,3.0,revised_first_ndc,True,2021-07-30,https://unfccc.int/sites/default/files/NDC/202...
556,ZWE,1.0,indc,True,2015-09-30,http://www4.unfccc.int/sites/submissions/INDC/...
557,ZWE,2.0,first_ndc,True,2017-08-07,https://unfccc.int/sites/default/files/NDC/202...
558,ZWE,3.0,revised_first_ndc,True,2021-09-24,https://unfccc.int/sites/default/files/NDC/202...

## Indicator 2: NDC Target (percentage)

In [7]:
data_endpoint = "ndcs"
indicator_var = "M_TarA2"

if (indicator_var == ""):
    api_call = api_url+data_endpoint
else:
    api_call = f'{api_url}{data_endpoint}?indicators={indicator_var}'

print(api_call)

https://www.climatewatchdata.org/api/v1/ndcs?indicators=M_TarA2

In [8]:
c = requests.get(api_call)
json_data = c.json()
locations_keys = list(json_data['indicators'][0]['locations'].keys())

In [9]:
test = pd.DataFrame(json_data['indicators'][0]['locations'][locations_keys[0]])
test

  value      document_slug group_index
0  -40%  revised_first_ndc        None

In [10]:
ind_2 = pd.DataFrame()
for k in locations_keys:
    t = pd.DataFrame(json_data['indicators'][0]['locations'][k])
    t['location'] = k
    ind_2 = ind_2.append(t)

ind_2 = ind_2[['location', 'value', 'document_slug']]
ind_2

   location          value      document_slug
0       ARM           -40%  revised_first_ndc
0       AUS           -43%  revised_first_ndc
1       AUS   -26% to -28%          first_ndc
2       AUS   -26% to -28%               indc
3       AUS         26-28%               None
..      ...            ...                ...
0       ZAF  Not Specified  revised_first_ndc
0       ZMB           -47%  revised_first_ndc
1       ZMB           -47%          first_ndc
2       ZMB           -47%               indc
3       ZMB           -47%               None

[193 rows x 3 columns]

## Indicator 3: Base year

In [11]:
data_endpoint = "ndcs"
indicator_var = "M_TarA4"

if (indicator_var == ""):
    api_call = api_url+data_endpoint
else:
    api_call = f'{api_url}{data_endpoint}?indicators={indicator_var}'

print(api_call)

https://www.climatewatchdata.org/api/v1/ndcs?indicators=M_TarA4

In [12]:
c = requests.get(api_call)
json_data = c.json()
locations_keys = list(json_data['indicators'][0]['locations'].keys())

In [13]:
test = pd.DataFrame(json_data['indicators'][0]['locations'][locations_keys[0]])
test['location'] = locations_keys[0]
test

  value      document_slug group_index location
0  1990  revised_first_ndc        None      ARM

In [14]:
ind_3 = pd.DataFrame()
for k in locations_keys:
    t = pd.DataFrame(json_data['indicators'][0]['locations'][k])
    t['location'] = k
    ind_3 = ind_3.append(t)

ind_3 = ind_3[['location', 'value', 'document_slug']]
ind_3.rename(columns={'value': 'base_year'}, inplace=True)
ind_3

   location base_year      document_slug
0       ARM      1990  revised_first_ndc
0       AUS      2005  revised_first_ndc
1       AUS      2005          first_ndc
2       AUS      2005               indc
3       AUS      2005               None
..      ...       ...                ...
0       WSM      2007         second_ndc
0       ZMB      2010  revised_first_ndc
1       ZMB      2010          first_ndc
2       ZMB      2010               indc
3       ZMB      2010               None

[212 rows x 3 columns]

## Indicator 4: Target year

In [15]:
data_endpoint = "ndcs"
indicator_var = "M_TarYr"

if (indicator_var == ""):
    api_call = api_url+data_endpoint
else:
    api_call = f'{api_url}{data_endpoint}?indicators={indicator_var}'

print(api_call)
c = requests.get(api_call)
json_data = c.json()
locations_keys = list(json_data['indicators'][0]['locations'].keys())

https://www.climatewatchdata.org/api/v1/ndcs?indicators=M_TarYr

In [16]:
test = pd.DataFrame(json_data['indicators'][0]['locations'][locations_keys[0]])
test['location'] = locations_keys[0]
test

  value document_slug group_index location
0  2030     first_ndc        None      AFG
1  2030          indc        None      AFG

In [17]:
ind_4 = pd.DataFrame()
for k in locations_keys:
    t = pd.DataFrame(json_data['indicators'][0]['locations'][k])
    t['location'] = k
    ind_4 = ind_4.append(t)

ind_4 = ind_4[['location', 'value', 'document_slug']]
ind_4.rename(columns={'value': 'target_year'}, inplace=True)
ind_4

   location target_year      document_slug
0       AFG        2030          first_ndc
1       AFG        2030               indc
0       AGO        2025  revised_first_ndc
1       AGO        2030          first_ndc
2       AGO        2030               indc
..      ...         ...                ...
2       ZMB        2030               indc
3       ZMB        2030               None
0       ZWE        2030  revised_first_ndc
1       ZWE        2030          first_ndc
2       ZWE        2030               indc

[535 rows x 3 columns]

## Indicator 5: Base year emissions

In [20]:
data_endpoint = "ndcs"
indicator_var = "M_TarA3"

if (indicator_var == ""):
    api_call = api_url+data_endpoint
else:
    api_call = f'{api_url}{data_endpoint}?indicators={indicator_var}'

print(api_call)
c = requests.get(api_call)
json_data = c.json()
locations_keys = list(json_data['indicators'][0]['locations'].keys())

https://www.climatewatchdata.org/api/v1/ndcs?indicators=M_TarA3

In [19]:
json_data['indicators'][0]['locations']

{'ARM': [{'value': 'Total GHG emissions: 25.855 | Net GHG emissions: 25.118',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'AUS': [{'value': '621.1 MtCO2e',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '"The value of the reference indicator will be reported in Australia’s domestic emissions projections reports and Biennial Transparency Reports under the Paris Agreement. The value may be updated to reflect inventory recalculations resulting from continuous methodological improvements. The current indicative value of the emissions budget is 4832 – 4764 mt C02-e, corresponding to the 26 – 28 per cent target range, as published in Australia’s emissions projections 2020."',
   'document_slug': None,
   'group_index': None},
  {'value': 'Not Specified', 'document_slug': None, 'group_index': None}],
 'AUT': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'AZE': [{'value': '69.641',
   'document_slug': 'first_ndc',
   'group_index': None},
  {'value': '69.641', 'document_slug': 'indc', 'group_index': None}],
 'BEL': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'BGR': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'BIH': [{'value': 'Baseline year 2014: 26,062.18 GgCO2eq (without sinks)<br>Baseline year 1990: 34,043.49 GgCO2eq (without sinks)<br> Baseline year 2014: 19,664.51 GgCO2eq (with sinks) <br>Baseliine year 1990: 26,619.90 GgCO2eq (with sinks)',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'BLR': [{'value': '117.2 MtCO2e',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '139.15123', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '139.15123', 'document_slug': 'indc', 'group_index': None}],
 'BRA': [{'value': 'Not Specified',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '2100', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '2100', 'document_slug': 'indc', 'group_index': None},
  {'value': 'Not Specified', 'document_slug': None, 'group_index': None}],
 'BRB': [{'value': '1.82', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '1.82', 'document_slug': 'indc', 'group_index': None}],
 'BTN': [{'value': '-2.2', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '-2.2', 'document_slug': 'indc', 'group_index': None}],
 'BWA': [{'value': '8.307', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '8.307', 'document_slug': 'indc', 'group_index': None}],
 'CAN': [{'value': '739 MtCO2e',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '747', 'document_slug': 'first_ndc', 'group_index': None}],
 'CHE': [{'value': '54158.92 kt CO2eq',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '53.3', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '53.3', 'document_slug': 'indc', 'group_index': None},
  {'value': '54158.92 kt CO2eq', 'document_slug': None, 'group_index': None}],
 'CMR': [{'value': '34.933v MtCO2e',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '747', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '747', 'document_slug': 'indc', 'group_index': None}],
 'CRI': [{'value': '12.44', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '12.44', 'document_slug': 'indc', 'group_index': None}],
 'CYP': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'CZE': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'DEU': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'DMA': [{'value': '.219 MtCO2e',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '0.1645', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '0.1645', 'document_slug': 'indc', 'group_index': None}],
 'DNK': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'ESP': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'EST': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'EUU': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'FIN': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'FRA': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'FSM': [{'value': '0.15', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '0.15', 'document_slug': 'indc', 'group_index': None}],
 'GBR': [{'value': 'Not Specified',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'GEO': [{'value': '“Not Specified. See Figure 1. Nationally Determined Contribution Targets.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'GHA': [{'value': '19.53', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '19.53', 'document_slug': 'indc', 'group_index': None}],
 'GNQ': [{'value': 'n/a', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': 'n/a', 'document_slug': 'indc', 'group_index': None}],
 'GRC': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'GRD': [{'value': '"Grenada’s net Greenhouse Gas (GHG) emissions in 2010 were estimated to be 216.9 GgCO2e"',
   'document_slug': 'second_ndc',
   'group_index': None},
  {'value': 'n/a', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': 'n/a', 'document_slug': 'indc', 'group_index': None}],
 'GTM': [{'value': '53.85', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '53.85', 'document_slug': 'indc', 'group_index': None}],
 'HRV': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'HUN': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'IRL': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'ISR': [{'value': '79 MtCO2eq',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'ITA': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'JAM': [{'value': '10.572',
   'document_slug': 'first_ndc',
   'group_index': None},
  {'value': '10.572', 'document_slug': 'indc', 'group_index': None}],
 'JPN': [{'value': '1,408 MtCO2e',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'KNA': [{'value': '0.253 MtCO2e',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'KOR': [{'value': '727.6 MtCO2eq',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '709.1MtCO2eq', 'document_slug': None, 'group_index': None}],
 'LBR': [{'value': 'n/a', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': 'n/a', 'document_slug': 'indc', 'group_index': None}],
 'LCA': [{'value': '0.505 (energy sector) | 0.643 (total emissions) | 0.572 (net emissions considering carbon removal from forest)',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'LIE': [{'value': '0.229', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '0.229', 'document_slug': 'indc', 'group_index': None}],
 'LTU': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'LUX': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'LVA': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'MDA': [{'value': '<p>"Total Emissions in Base Year: 44.9 Mt CO<sub>2</sub> eq (without LULUCF) and 43.4 Mt CO<sub>2</sub> eq (with LULUCF). These data will be updated on biennial basis through inventory submissions."</p>',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '37.5', 'document_slug': 'first_ndc', 'group_index': None}],
 'MHL': [{'value': '0.185', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '0.185', 'document_slug': None, 'group_index': None}],
 'MKD': [{'value': '12.478 (total emissions)',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '9.445', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '9.445', 'document_slug': 'indc', 'group_index': None}],
 'MLT': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'MNE': [{'value': '5.383 MtCO2eq',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '5.239', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '5.239', 'document_slug': 'indc', 'group_index': None}],
 'MOZ': [{'value': 'Not Specified',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'NLD': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'NOR': [{'value': '51 MtCO2e',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '52 Mt CO2-equivalents',
   'document_slug': None,
   'group_index': None}],
 'NZL': [{'value': '85.922 (Mt CO2-e)2',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': 'n/a', 'document_slug': 'first_ndc', 'group_index': None}],
 'POL': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'PRT': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'ROU': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'SMR': [{'value': '0.213', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '0.213', 'document_slug': 'indc', 'group_index': None}],
 'SRB': [{'value': 'Not Specified',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'STP': [{'value': '0.093', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '0.093', 'document_slug': 'indc', 'group_index': None}],
 'SVK': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'SVN': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'SWE': [{'value': 'Not Specified.<br>“Quantification of the reference indicator will be based on national totals reported in the National Inventory Report by the European Union, and may be updated due to methodological improvements to the GHG inventory.”',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'TCD': [{'value': '8.379', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '8.379', 'document_slug': 'indc', 'group_index': None}],
 'TJK': [{'value': '35.53 MtCO2e',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '25.5', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '25.5', 'document_slug': 'indc', 'group_index': None}],
 'TON': [{'value': 'Tonga emitted a total of 310.4 Gg of CO2-equivalent in 2006, with the Energy sector accounting for 39%',
   'document_slug': 'second_ndc',
   'group_index': None}],
 'TUN': [{'value': '28.3', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '28.3', 'document_slug': 'indc', 'group_index': None}],
 'TUV': [{'value': 'Not Specified',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '0.02', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '0.02', 'document_slug': 'indc', 'group_index': None}],
 'UKR': [{'value': '882.9 Mt CO2',
   'document_slug': 'revised_first_ndc',
   'group_index': None},
  {'value': '874.6', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': '874.6', 'document_slug': 'indc', 'group_index': None}],
 'USA': [{'value': '6635',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'WSM': [{'value': '352.03 Gg CO2 e',
   'document_slug': 'second_ndc',
   'group_index': None}],
 'ZAF': [{'value': 'Not Specified',
   'document_slug': 'revised_first_ndc',
   'group_index': None}],
 'ZMB': [{'value': 'n/a', 'document_slug': 'first_ndc', 'group_index': None},
  {'value': 'n/a', 'document_slug': 'indc', 'group_index': None}]}

In [21]:
test = pd.DataFrame(json_data['indicators'][0]['locations'][locations_keys[0]])
test['location'] = locations_keys[0]
test

,value,document_slug,group_index,location
0,Total GHG emissions: 25.855 | Net GHG emission...,revised_first_ndc,None,ARM

In [22]:
ind_5 = pd.DataFrame()
for k in locations_keys:
    t = pd.DataFrame(json_data['indicators'][0]['locations'][k])
    t['location'] = k
    ind_5 = ind_5.append(t)

ind_5 = ind_5[['location', 'value', 'document_slug']]
ind_5.rename(columns={'value': 'target_year'}, inplace=True)
ind_5

,location,target_year,document_slug
0,ARM,Total GHG emissions: 25.855 | Net GHG emission...,revised_first_ndc
0,AUS,621.1 MtCO2e,revised_first_ndc
1,AUS,"""The value of the reference indicator will be ...",None
2,AUS,Not Specified,None
0,AUT,Not Specified.<br>“Quantification of the refer...,revised_first_ndc
...,...,...,...
0,USA,6635,revised_first_ndc
0,WSM,352.03 Gg CO2 e,second_ndc
0,ZAF,Not Specified,revised_first_ndc
0,ZMB,n/a,first_ndc
1,ZMB,n/a,indc

## Indicator 6: Target year emissions

In [ ]:
data_endpoint = "ndcs"
indicator_var = "pledge_base_year_emissions"

if (indicator_var == ""):
    api_call = api_url+data_endpoint
else:
    api_call = f'{api_url}{data_endpoint}?indicators={indicator_var}'

print(api_call)
c = requests.get(api_call)
json_data = c.json()
#locations_keys = list(json_data['indicators'][0]['locations'].keys())

https://www.climatewatchdata.org/api/v1/ndcs?indicators=pledge_base_year_emissions

In [ ]:
json_data['indicators'][0]['locations']

{'AFG': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'ARG': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'ARM': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'ATG': [{'value': 'Not Specified',
   'document_slug': 'pledges',
   'group_index': None}],
 'AUS': [{'value': '489.8 Mt CO2eq excluding LULUCF; 556.7 Mt CO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'BEN': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'BFA': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'BLR': [{'value': '139.2 Mt CO2eq excluding LULUCF; 110.6 Mt CO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'BRA': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'BTN': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'BWA': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'CAF': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'CAN': [{'value': '735.8 Mt CO2eq excluding LULUCF; 789.2 Mt CO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'CHE': [{'value': '52.9 Mt CO2eq excluding LULUCF; 51.0 MtCO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'CHL': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'CHN': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'CIV': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'CMR': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'COG': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'COK': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'COL': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'CRI': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'DMA': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'DZA': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'EGY': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'ERI': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'ETH': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'EUU': [{'value': '5626.3 Mt CO2e excluding LULUCF; 5367.9 Mt CO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'GAB': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'GEO': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'GHA': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'GIN': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'GMB': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'IDN': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'IND': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'ISL': [{'value': '3.5 Mt CO2eq excluding LULUCF; 4.7 MtCO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'ISR': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'JOR': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'JPN': [{'value': '1350.3 Mt CO2eq excluding LULUCF; 1261 Mt CO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'KAZ': [{'value': '357.6 Mt CO2eq excluding LULUCF; 350.6 MtCO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'KGZ': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'KHM': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'KOR': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'LIE': [{'value': '0.2 Mt CO2eq excluding LULUCF; 0.2 MtCO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'MAR': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'MCO': [{'value': '0.1 Mt CO2eq excluding LULUCF; 0.1 MtCO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'MDA': [{'value': 'Not Specified',
   'document_slug': 'pledges',
   'group_index': None}],
 'MDG': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'MDV': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'MEX': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'MHL': [{'value': 'Not Specified',
   'document_slug': 'pledges',
   'group_index': None}],
 'MKD': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'MNG': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'MRT': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'MUS': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'MWI': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'NOR': [{'value': '50.4 Mt CO2eq excluding LULUCF; 40.3 MtCO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'NZL': [{'value': '60.6 Mt CO2eq excluding LULUCF; 23.4 MtCO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'PER': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'PNG': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'RUS': [{'value': '3363.3 Mt CO2eq excluding LULUCF; 3527.9 MtCO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'SGP': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'SLE': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'SMR': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'SWZ': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'TCD': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'TGO': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'THA': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'TJK': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'TUN': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}],
 'UKR': [{'value': '940.2 Mt CO2eq excluding LULUCF; 870.4 MtCO2eq including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'USA': [{'value': '7228.3 Mt CO2eq excluding LULUCF; 6223.1 Mt CO2e including LULUCF',
   'document_slug': 'pledges',
   'group_index': None}],
 'ZAF': [{'value': 'Not Applicable',
   'document_slug': 'pledges',
   'group_index': None}]}

In [ ]:
test = pd.DataFrame(json_data['indicators'][0]['locations'][locations_keys[0]])
test['location'] = locations_keys[0]
test

In [ ]:
ind_4 = pd.DataFrame()
for k in locations_keys:
    t = pd.DataFrame(json_data['indicators'][0]['locations'][k])
    t['location'] = k
    ind_4 = ind_4.append(t)

ind_4 = ind_4[['location', 'value', 'document_slug']]
ind_4.rename(columns={'value': 'target_year'}, inplace=True)
ind_4