In [8]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df_locations = pd.read_csv('../../datasets/mangrove-locations.csv', sep=',', header=None)

df_locations.head()

                                                   0
0  id: 1155, iso: 'WORLDWIDE', location_id: 'worl...
1  id: 1012, iso: 'ARE', location_id: '2_00000000...
2  id: 1114, iso: 'BRA', location_id: '2_00000000...
3  id: 992, iso: 'AGO', location_id: '1_2_97', lo...
4  id: 964, iso: 'ATG', location_id: '1_2_69', lo...

In [18]:
input_data = pd.DataFrame({'location_id': ['worldwide', '1_2_97'], 'year': [2020, 2020], 'total_area': [200000, 5000], 'protected_area': [200, 1000]})
input_data

  location_id  year  total_area  protected_area
0   worldwide  2020      200000             200
1      1_2_97  2020        5000            1000

In [29]:
print(input_data.dtypes['location_id'])
print(input_data.dtypes['year'])

object
int64

In [30]:
type(input_data['location_id'][0])

str

In [65]:
def check_type(data, col):
    if data.dtypes[col] == 'object':
        if type(data[col][0]) == str:
            typ = 'str'
            return(typ)
        else:
            typ = 'object (not str)'
            return(typ)
    if data.dtypes[col] == np.int64 or data.dtypes[col] == np.int32:
        typ = 'int'
        return(typ)

In [44]:
check_type(input_data, 'location_id')

'str'

In [45]:
check_type(input_data, 'year')

'int'

In [54]:
data_model = {'location_id': 'str',
'year': 'int',
'total_area': 'int',
'protected_area': 'int',
'metadata': 'dict'}
data_model

{'location_id': 'str',
 'year': 'int',
 'total_area': 'int',
 'protected_area': 'int',
 'metadata': 'dict'}

In [46]:
input_data.columns

Index(['location_id', 'year', 'total_area', 'protected_area'], dtype='object')

In [58]:
for c in input_data.columns:
    if check_type(input_data, c) == data_model[c]:
        print(f'variable {c} is OK')
        err=0
    else:
        print(f'ERROR in variable {c}')
        err=1
        break
if err == 0:
    print('ALL VARIABLES OK')

variable location_id is OK
variable year is OK
variable total_area is OK
variable protected_area is OK
ALL VARIABLES OK

In [59]:
input_data = pd.DataFrame({'location_id': ['worldwide', '1_2_97'], 'year': [2020, '2020'], 'total_area': [200000, 5000], 'protected_area': [200, 1000]})
input_data

  location_id  year  total_area  protected_area
0   worldwide  2020      200000             200
1      1_2_97  2020        5000            1000

In [63]:
def data_validation(input_data):
    for c in input_data.columns:
        if check_type(input_data, c) == data_model[c]:
            print(f'variable {c} is OK')
            err=0
        else:
            print(f'ERROR in variable {c}: should be {data_model[c]} but it is {check_type(input_data, c)}')
            
            err=1
            break
    if err == 0:
        print('ALL VARIABLES OK')

In [66]:
data_validation(input_data)

variable location_id is OK
ERROR in variable year: should be int but it is object (not str)